---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2> International Conferences </h2>
{% for post in site.talks reversed %}
  {% if post.type == "conference" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2> International Workshops </h2>
{% for post in site.talks reversed %}
  {% if post.type == "workshop" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2> Seminars </h2>
{% for post in site.talks reversed %}
  {% if post.type == "seminar" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2> National Conferences </h2>
{% for post in site.talks reversed %}
  {% if post.type == "national" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

