---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<h2> International Conferences </h2>
{% for post in site.talks reversed %}
  {% if post.type == "conference" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2> International Workshops </h2>
{% for post in site.talks reversed %}
  {% if post.type == "workshop" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2> Seminars </h2>
{% for post in site.talks reversed %}
  {% if post.type == "seminar" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2> National Conferences </h2>
{% for post in site.talks reversed %}
  {% if post.type == "national" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

