---
layout: archive
title: "Academic Activity"
permalink: /teaching/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
{% include archive-single-teach.html %}
{% endfor %}
-->

<h2>Official University Teaching</h2>
<ul>
  <li><strong>Artificial Intelligence Course Instructor</strong>: Universitat Internacional de Catalunya (UIC). Since Jan. 2025.</li>
  <li><strong>HPC Course Instructor</strong>, Universitat Oberta de Catalunya (UOC). Since Sep. 2020.</li>
  <li><strong>Postdoctoral Fellow</strong>, Department of Computer Science and Engineering, Universitat Jaume I (UJI). From Sep. 2020 to Dec. 2022.</li>
  <li><strong>Adjunct Professor</strong>, Department of Computer Science, Universitat de València (UV). From Sep. 2018 to Aug. 2020.</li>
</ul>

<h2> Advised Students </h2>

<h3>PhD Thesis</h3>
<ul>
  <li>Weronika Folwarska: "Development of Artificial Intelligence Methods for Enhancing the Efficiency of Physical Simulations in High-Performance Computing Environments". Częstochowa University of Technology (Poland). Ongoing.</li>
  <li>Elabbas Elhussain: "Artificial Intelligence Applied in Dentistry: Development on an AI based System for Automated Diagnosis and Treatment Planning of Dental Caries Using Bite-wing X-ray". Universistat Internacional de Catalunya (Spain). Ongoing.</li>
</ul>

<h3>Final Master Projects</h3>
<ul>
  <!--<li>Angel Giovanni Mendoza: "Flexible Restart for Distributed Training of Deep Neural Networks.", UOC 2025</li>-->
  <li>Strahinja Ljaljevic: "State of the Art of LLM for High Performance Computing", UOC 2025</li>
  <li>Maria Isabel Sanz Vicente: "Analyzing Workload Efficiency in HPC Environments", UOC 2025</li>
  <li>Milan Cornado Rodríguez: "Clúster HPC virtual basado en RISC-V", UOC 2025</li>
  <li>Francisco Javier Rodríguez Olmeda: <a href="https://openaccess.uoc.edu/handle/10609/151191"> "HPC Paramal Malleability Traceability"</a>, UOC 2024</li>
  <li>José Reina León: <a href="https://openaccess.uoc.edu/handle/10609/149763">"Implementación distribuida maleable del método Laplace"</a>, UOC 2024</li>
  <li>Alejandro González Barberá: <a href="http://hdl.handle.net/10609/148434">"Enhancing Weather Analysis with Data Interpolation and Time Series Forecasting"</a>, UOC 2023</li>
  <li>Víctor García García: "Leveraging a Synthetic Twin to Emulate Malleable Computational Fluid Dynamic Simulations", UOC 2023</li>
  <li>Albert Sanuy Lostes: <a href="http://hdl.handle.net/10609/146746">"Profiling HPC Application in Containerized Environments"</a>, UOC 2022</li>
  <li>Borja Fernández Morán: <a href="http://hdl.handle.net/10609/137426">"Análisis de rendimiento del entrenamiento de una red neuronal distribuida para la clasificación de secuencias de ADN"</a>, UOC 2022</li>
  <li>Francesc Costa Majó: <a href="http://hdl.handle.net/10609/135206">"Evoker: A Scalable Web-GUI Visualizer and Mesh Generator"</a>, UOC 2021</li>
</ul>
<h3>Final Degree Projects</h3>
<ul>
  <!--<li>Francesc Carrilero Salas: "Simulació de l'evolució estel·lar utilitzant programació paral·lela", UOC 2025</li>-->
  <li>Yeray Pérez García: "Estudio y análisis de rendimiento de un software de minado", UOC 2022</li>
  <li>Alejandro González Barberá: "Estudio de parámetros influyentes en el flujo de entrada de estaciones de depuración de aguas residuales", UJI 2022</li>
  <li>Daniel Miralles Vargas: "Desarrollo de aplicación para la simulación de estructuras de depuración de aguas residuales", UJI 2021</li>
</ul>

<h2> Academic Committees </h2>
<h3>PhD Committee Member</h3>
<ul>
  <li>Jaime Milla-Val: "Downscaling Numerical Weather Predictions to Microscale Wind Fields over Complex Terrains Using Articial Intelligence", Universidad de Zaragoza 2025</li>
</ul>

<h3>PhD Predefense Committee Member</h3>
<ul>
  <li>Omar Shaaban: "Productive Programming of Irregular Data Structures on Distributed Memory", Universitat Politècnica de Catalunya 2024</li>
  <li>Felippe Vieira Zacarias: "Job scheduling for disaggregated memory in high performance computing systems", Universitat Politècnica de Catalunya 2023</li>
  <li>Jimmy Aguilar Mena: "Methodology for malleable applications on distributed memory systems", Universitat Politècnica de Catalunya 2022</li>
</ul>

<h2>Courses Taught</h2>
<h3>Build your own supercomputer with Raspberry Pi</h3>
<ul>
  <li>2nd edition: 9th November 2019 (UJI)</li>
  <li>1st edition: 19th - 20th September 2018 (UJI)</li>
</ul>

<h3>Introduction to high-performance programming</h3>
<ul>
  <li>3rd edition: 8th - 9th May 2019 (UJI)</li>
  <li>2nd edition: 17th - 18th April 2018 (UJI)</li>
  <li>1st edition: 10th - 11th May 2017 (UJI)</li>
</ul>

<h3> How to Program in C from Scratch</h3>
<ul>
  <li>6th edition: October - November 2022 (UJI - MOOC)</li>
  <li>5th edition: October - November 2021 (UJI - MOOC)</li>
  <li>4th edition: October - November 2020 (UJI - MOOC)</li>
  <li>3rd edition: October - November 2019 (UJI - MOOC)</li>
  <li>2nd edition: October - November 2017 (UJI - MOOC)</li>
  <li>1st edition: January - March 2017 (UJI - MOOC)</li>
</ul>

<h3>Slurm workload manager for system administrators</h3>
<ul>
  <li>13th April 2016 (Universitat Politècnica de València (UPV), Spain))</li>
</ul>