---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
{% include archive-single-teach.html %}
{% endfor %}


<h2> Advisored Students </h2>

<!--<h3>PhD Thesis</h3>-->

<h3>Final Master Projects</h3>
<ul>
  <li>Milan Cornado Rodríguez: "Clúster HPC virtual basado en RISC-V", UOC 2025</li>
  <li>Francisco Javier Rodríguez Olmeda: <a href="https://openaccess.uoc.edu/handle/10609/151191"> "HPC Paramal Malleability Traceability"</a>, UOC 2024</li>
  <li>José Reina León: <a href="https://openaccess.uoc.edu/handle/10609/149763">"Implementación distribuida maleable del
      método Laplace"</a>, UOC 2024</li>
  <li>Alejandro González Barberá: <a href="http://hdl.handle.net/10609/148434">"Enhancing Weather Analysis with Data Interpolation and Time Series
      Forecasting"</a>, UOC
    2023</li>
  <li>Víctor García García: "Leveraging a Synthetic Twin to Emulate Malleable Computational Fluid Dynamic Simulations",
    UOC 2023</li>
  <li>Albert Sanuy Lostes: <a href="http://hdl.handle.net/10609/146746">"Profiling HPC Application in Containerized Environments"</a>, UOC 2022</li>
  <li>Borja Fernández Morán: <a href="http://hdl.handle.net/10609/137426">"Análisis de rendimiento del entrenamiento de una red neuronal distribuida para la
      clasificación de secuencias de ADN"</a>, UOC 2022</li>
  <li>Francesc Costa Majó: <a href="http://hdl.handle.net/10609/135206">"Evoker: A Scalable Web-GUI Visualizer and Mesh Generator"</a>, UOC 2021</li>
</ul>
<h3>Final Degree Projects</h3>
<ul>
  <!--<li>Francesc Carrilero Salas: "Simulació de l'evolució estel·lar utilitzant programació paral·lela", UOC 2025</li>-->
  <li>Yeray Pérez García: "Estudio y análisis de rendimiento de un software de minado", UOC 2022</li>
  <li>Alejandro González Barberá: "Estudio de parámetros influyentes en el flujo de entrada de estaciones de depuración
    de aguas residuales", UJI 2022</li>
  <li>Daniel Miralles Vargas: "Desarrollo de aplicación para la simulación de estructuras de depuración de aguas
    residuales", UJI 2021</li>
</ul>

<h2> Academic Committees </h2>
<h3>PhD Predefense Committee Member</h3>
<ul>
  <li>Omar Shaaban: "Productive Programming of Irregular Data Structures on Distributed Memory", Universitat
    Politècnica de Catalunya 2024</li>
  <li>Felippe Vieira Zacarias: "Job scheduling for disaggregated memory in high performance computing systems",
    Universitat Politècnica de Catalunya 2023</li>
  <li>Jimmy Aguilar Mena: "Methodology for malleable applications on distributed memory systems", Universitat
    Politècnica de Catalunya 2022</li>
</ul>

<h2>Courses Taught</h2>
<h3>Build your own supercomputer with Raspberry Pi</h3>
<ul>
  <li>2nd edition: 9th November 2019 (UJI)</li>
  <li>1st edition: 19th - 20th September 2018 (UJI)</li>
</ul>

<h3>Introduction to high-performance programming</h3>
<ul>
  <li>3rd edition: 8th - 9th May 2019 (UJI)</li>
  <li>2nd edition: 17th - 18th April 2018 (UJI)</li>
  <li>1st edition: 10th - 11th May 2017 (UJI)</li>
</ul>

<h3> How to Program in C from Scratch</h3>
<ul>
  <li>6th edition: October - November 2022 (UJI - MOOC)</li>
  <li>5th edition: October - November 2021 (UJI - MOOC)</li>
  <li>4th edition: October - November 2020 (UJI - MOOC)</li>
  <li>3rd edition: October - November 2019 (UJI - MOOC)</li>
  <li>2nd edition: October - November 2017 (UJI - MOOC)</li>
  <li>1st edition: January - March 2017 (UJI - MOOC)</li>
</ul>

<h3>Slurm workload manager for system administrators</h3>
<ul>
  <li>13th April 2016 (Universitat Politècnica de València (UPV), Spain))</li>
</ul>