{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p>
      <strong>{{ post.title }}</strong> 
      {% if post.funding %}
      ({{ post.funding }}) 
      {% endif %}
      - PI: {{ post.pi }}, {{ post.pi-inst }}. 
      {{ page.date: "%Y/%m/%d" }} - {{ post.end-date }}. 
      {% if post.wp %}
      {{ post.wp }} 
      {% endif %}
      {{ post.role }}: {{ post.description }}. 
      {% if post.doi %}
      <a href="https://{{ post.doi }}"> {{ post.doi }}</a>
      {% endif %}
    </p>
  </article>
</div>